.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
  
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mercury {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tan;
  position: relative;
  left: 45px;
  top: 45px;
  -webkit-animation: mercuryOrbit 2.89s linear infinite; /* old time - 6s */
  -moz-animation: mercuryOrbit 2.89s linear infinite;
  -o-animation: mercuryOrbit 2.89s linear infinite;
  animation: mercuryOrbit 2.89s linear infinite;
}

.venus {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: peru;
  position: relative;
  left: 38px;
  top: 27px;
  -webkit-animation: venusOrbit 7.4s linear infinite; /* old time - 9s */
  -moz-animation: venusOrbit 7.4s linear infinite;
  -o-animation: venusOrbit 7.4s linear infinite;
  animation: venusOrbit 7.4s linear infinite;
}

.earth {
    
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: blue;
    /*
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */
    position: relative;
    left: 37px;
    top: 3px;

    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific
     * prefixes as well as the official syntax for now. Remember, tools like
     * CSS Please are your friends!
     */
    -webkit-animation: earthOrbit 12s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: earthOrbit 12s linear infinite; /* Firefox 5-15 */
         -o-animation: earthOrbit 12s linear infinite; /* Opera 12+ */
            animation: earthOrbit 12s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
    
    
    
}

.moon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: darkgray;
  position: relative;
  left: 9px;
  top: 9px;
  -webkit-animation: moonOrbit .89s linear infinite;
  -moz-animation: moonOrbit .89s linear infinite;
  -o-animation: moonOrbit .89s linear infinite;
  animation: moonOrbit .89s linear infinite;
}

.mars {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  left: 44px;
  top: -16px;
  -webkit-animation: marsOrbit 22.58s linear infinite; /* old time - 15s */
  -moz-animation: marsOrbit 22.58s linear infinite;
  -o-animation: marsOrbit 22.58s linear infinite;
  animation: marsOrbit 22.58s linear infinite;
}

/*
 * Set up the keyframes to actually describe the begining and end states of
 * the animation.  The browser will interpolate all the frames between these
 * points.  Again, remember your vendor-specific prefixes for now!
 */
 
/* Mercury Orbit - AU relation is 57px */
  @-webkit-keyframes mercuryOrbit {
      from { -webkit-transform: rotate(0deg) translateX(77px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(77px) rotate(-360deg); }
  }
  
  @-moz-keyframes mercuryOrbit {
      from { -moz-transform: rotate(0deg) translateX(77px) rotate(0deg); }
      to   { -moz-transform: rotate(360deg) translateX(77px) rotate(-360deg); }
  }
  
  @-o-keyframes mercuryOrbit {
      from { -o-transform: rotate(0deg) translateX(77px) rotate(0deg); }
      to   { -o-transform: rotate(360deg) translateX(77px) rotate(-360deg); }
  }
  
  @keyframes mercuryOrbit {
      from { transform: rotate(0deg) translateX(77px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(77px) rotate(-360deg); }
  }

/* Venus Orbit - AU relation is 108px */
  @-webkit-keyframes venusOrbit {
      from { -webkit-transform: rotate(0deg) translateX(144px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(144px) rotate(-360deg); }
  }
  
  @-moz-keyframes venusOrbit {
      from { -moz-transform: rotate(0deg) translateX(144px) rotate(0deg); }
      to   { -moz-transform: rotate(360deg) translateX(144px) rotate(-360deg); }
  }
  
  @-o-keyframes venusOrbit {
      from { -o-transform: rotate(0deg) translateX(144px) rotate(0deg); }
      to   { -o-transform: rotate(360deg) translateX(144px) rotate(-360deg); }
  }
  
  @keyframes venusOrbit {
      from { transform: rotate(0deg) translateX(144px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(144px) rotate(-360deg); }
  }
 
 
/* Earth Orbit */
  @-webkit-keyframes earthOrbit {
      from { -webkit-transform: rotate(0deg) translateX(200px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
  }
  
  @-moz-keyframes earthOrbit {
      from { -moz-transform: rotate(0deg) translateX(200px) rotate(0deg); }
      to   { -moz-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
  }
  
  @-o-keyframes earthOrbit {
      from { -o-transform: rotate(0deg) translateX(200px) rotate(0deg); }
      to   { -o-transform: rotate(360deg) translateX(200px) rotate(-360deg); }
  }
  
  @keyframes earthOrbit {
      from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
  }
  
/* Moon Orbit */
  @-webkit-keyframes moonOrbit {
      from { -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
  }
  
  @-moz-keyframes moonOrbit {
      from { -moz-transform: rotate(0deg) translateX(30px) rotate(0deg); }
      to   { -moz-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
  }
  
  @-o-keyframes moonOrbit {
      from { -o-transform: rotate(0deg) translateX(30px) rotate(0deg); }
      to   { -o-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
  }
  
  @keyframes moonOrbit {
      from { transform: rotate(0deg) translateX(30px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(30px) rotate(-360deg); }
  }

/* Mars Orbit - AU relation is 228.6px */
  @-webkit-keyframes marsOrbit {
      from { -webkit-transform: rotate(0deg) translateX(304px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(304px) rotate(-360deg); }
  }
  
  @-moz-keyframes marsOrbit {
      from { -moz-transform: rotate(0deg) translateX(304px) rotate(0deg); }
      to   { -moz-transform: rotate(360deg) translateX(304px) rotate(-360deg); }
  }
  
  @-o-keyframes marsOrbit {
      from { -o-transform: rotate(0deg) translateX(304px) rotate(0deg); }
      to   { -o-transform: rotate(360deg) translateX(304px) rotate(-360deg); }
  }
  
  @keyframes marsOrbit {
      from { transform: rotate(0deg) translateX(304px) rotate(0deg); }
      to   { transform: rotate(360deg) translateX(304px) rotate(-360deg); }
  }
  
  

  
  
.mars-orbit {
  height: 608px;
  width: 608px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid white;*/
  border-radius: 50%;
}

.earth-orbit {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid white;*/
  border-radius: 50%;
}

.venus-orbit {
  height: 288px;
  width: 288px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid white;*/
  border-radius: 50%;
}

.mercury-orbit {
  height: 154px;
  width: 154px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border-radius: 50%;
}

.solar-system {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,.6)40%, rgba(0,0,0,0)71%);
}




.body-content {
  display: inline-block;
  height: 100%;
}

.controls {
  height: 2em;
  width: 100%;
  color: white;
  position: absolute;
  z-index: 8;
}

.planet-buttons {
  float: left;
  width: 20%;
  margin: 1em 0;
  text-align: center;
  font-size: 1.4em;
  padding: 0 5em;
}

.mercury-button, .venus-button, .earth-button, .mars-button, .rings {
  background-color: rgba(0,0,0,.5);
  padding: .5em 0;
  border: 1px solid rgba(255,255,255,.5);
}

.mercury-button:hover, .venus-button:hover, .earth-button:hover, .mars-button:hover, .rings:hover {
  background-color: rgba(255,255,255,.5);
  color: black;
}

.galaxy {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
}


::-webkit-scrollbar {
  display: none;
}


.sun:hover * {
  -webkit-animation-play-state: paused!important;
}

.sun:hover .moon {
  -webkit-animation-play-state: running!important;
}



.mercury-info {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.venus-info {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.earth-info {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.mars-info {
  position: fixed;
  bottom: 1%;
  right: 1%;
}

.no-info {
  display: none;
}