@media (max-width: 480px) {

	.banner h1 {
		font-size: 2.5em;
	}

	input:focus {
		transform: none;
		transition: none;
	}

	textarea:focus {
		transform: none;
		transition: none;
		position: relative;
		top: 0;
		border: none;
	}

}